<div class = "message-box">
  <div class = "row-1">
    <div class = "user-name">
      <%=  message.user.name %>
    </div>
    <div class = "date">
      <%= message.created_at %>
    </div>
  </div>
  <div class = "row-2">
    <div class = "message">
      <%= message.content %>
    </div>
  </div>
</div>