<div class = "side-bar">
  <div class = "side-header">
  <div class = "user-name" >
    <%= link_to current_user.name , edit_user_path(current_user.id) %>
  </div>
  <div class = "new-chat-button" >
    <%= link_to "チャットを作成する", new_room_path %> 
  </div>
  </div>
  <div class = "side-chat">
    <div class = "rooms">
    <% current_user.rooms.each do |room| 
    %>
      <div class = "room" >
        <div class ="room-name" >
          <%= link_to room.name , "#" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>