<div class = "side-bar">
  <div class = "side-header">
  <div class = "user-name" >
    <a href = "#">Taku</a>
  </div>
  <div class = "new-chat-button" >
    <a href = "#" >チャットを作成する</a>
  </div>
  </div>
  <div class = "side-chat">
    <div class = "rooms">
      <div class = "room" >
        <div class ="room-name" >
          <a href = "#" >Techroom1</a>
        </div>
      </div>
      <div class = "room" >
        <div class =room-name>
          <a href = "#" >Techroom1</a>
        </div>
      </div>
    </div>
  </div>
</div>